{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>{% block title %} Home {% endblock %}</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://startbootstrap.com/templates/agency/font-awesome-4.1.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://cdn.materialdesignicons.com/3.4.93/css/materialdesignicons.min.css">


	<link rel="stylesheet" href="{% static 'css/estilo.css' %}"/>

	<script src="{% static 'js/funciones.js'%}"></script>

</head>
<body>
	{% block header %}

	<header>
		<nav class="navbar navbar-expand-lg ">
		  <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'img/logo-plano.png' %}"></a>
		  <button  class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarColor03">
			
		  </div>
		</nav>
	</header>
	
	{% endblock %}
	
	{% block content %}
	<h5>Contenido</h5>
	{% endblock %}

	{% block footer %}
	{% include "main/footer.html" %}
	{% endblock %}
</body>
</html>