<!-- Footer -->
	<footer class="section footer-classic context-dark bg-image" style="background: #2d3246; padding-top: 4%;">
        <div class="container" style="padding-bottom: 3%;">
          <div class="row row-30">
            <div class="col-md-4 col-xl-5">
              <div class="pr-xl-4"><a class="brand" href="index.html"><img class="brand-logo-light" src="images/agency/logo-inverse-140x37.png" alt="" width="140" height="37" srcset="images/agency/logo-retina-inverse-280x74.png 2x"></a>
                <p>Zone4LoL (Zone for League of Legends) es una asociación registrada en la delegacion provincial de la junta de andalucia en  Cádiz incluyendo todos los contenidos reglamentarios.</p>
                <!-- Rights-->
                <p class="rights"><span>©  </span><span class="copyright-year">2018</span><span> </span><span>Zone4LoL</span><span>. </span><span>Todos los derechos reservados.</span></p>
              </div>
            </div>
            <div class="col-md-4">
              <h5 style="border-bottom: 1px solid white;">Contacto</h5>
              <dl class="contact-list">
                <dt>email:</dt>
                <dd><a href="mailto:#">zone4lolcadiz@gmail.com</a></dd>
              </dl>
              <dl class="contact-list">
                <dt>Telefono:</dt>
                <dd><a href="tel:#">+34 689617819</a>
                </dd>
              </dl>
            </div>
            <div class="col-md-4 col-xl-3">
              <h5 style="border-bottom: 1px solid white;">Links</h5>
              <ul class="nav-list">
                <li><a href="#">Sobre nostros</a></li>
                <li><a href="#">Eventos</a></li>
                <li><a href="#">Foros</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row no-gutters social-container">
          <div class="col red1"><a class="social-inner" href="#"><span class="icon mdi mdi-facebook"></span><span>Facebook</span></a></div>
          <div class="col red2"><a class="social-inner" href="#"><span class="icon mdi mdi-instagram"></span><span>instagram</span></a></div>
          <div class="col red3"><a class="social-inner" href="#"><span class="icon mdi mdi-twitter"></span><span>twitter</span></a></div>
          <div class="col red4"><a class="social-inner" href="#"><span class="icon mdi mdi-google"></span><span>google</span></a></div>
        </div>
      </footer>
	<!-- ./Footer -->