{% extends 'main/base.html' %}
{% load staticfiles %}

{% block content %}
	<div class="container">
	  <div class="card border-0 shadow my-5">
	    <div class="card-body p-5">
	      <h1 class="font-weight-light">¿Que es Zone4LoL?</h1>
	      <p class="lead">Zone4LoL es una asociación sin animo de lucro dedicada enteramente, por el momento, al videojuego “League of Legends”, que desea buscar crear una comunidad donde se pueda aprender y compartir momentos con gente cercana pudiendo tener compañeros de partidas y risas. Nuestro objetivo no es otro que hacer crecer la comunidad con trabajo y esfuerzo siempre desde unos valores de juego limpio respetando tanto a todos los jugadores independientemente de su “elo”, como actuando con respeto ante otras asociaciones y comunidades.</p>
	      <h1 class="font-weight-light">¿Que hacemos?</h1>
	      <p class="lead">Nos encargamos de hacer torneos y quedadas donde siempre nos divertimos, ve a nuestra pestaña de eventos y entérate de todos los eventos que tenemos preparados, y si cuando te registres decides hacerte socio podrás participar de ayudante en nuestros eventos con tan solo enviarnos un correo a zone4lolcadiz@gmail.com y al día siguiente podrás revisar la lista de ayudantes para ver si has sido incluido en ella.
			Nuestros torneos, hasta el momento siempre ha sido del agrado de casi todos los participantes que hemos tenido (Nadie es perfecto), obteniendo experiencia trabajando en:</p>
			<p class="lead">-Torneos Online</p>
			<p class="lead">-Torneo presencial 1vs1 y 2vs2 en la casa de la juventud de Cádiz</p>
			<p class="lead">-Torneo del Salón Manga de Cádiz (Femanca)</p>
			<h1 class="font-weight-light">¿Quienes conforman el quipo de Zone4LoL?</h1>
			<p class="lead">Estos son los invocadores que conforman nuestro equipo:</p>

			<img id="myImg" class="imagenteam" src="{% static 'img/equipoz4lol.jpg' %}" alt="Snow">



	    </div>
 	  </div>
	</div>
		
{% endblock %}