    {% extends 'main/base.html' %}

{% block content %}
<<body >
  <div class="container">
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row my-5">
 
          <div class="card-body">
            <h5 class="card-title text-center">Crear Foro</h5>
              <hr>  
                {{ form.as_p }}
            <hr>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Crear Foro</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    </form>
  </div>
</body>
{% endblock %}